body {
	background-color: #3b653d;
	font-family: 'Covered By Your Grace', cursive;
	color: #EDEDED;
}

#gameboard {
	padding: 10px;
}

.row {
	width: 500px;
	margin: 0 auto;
	clear: both;
}
.cell {
	float: left;
	height: 150px;
	width: 150px;
/*	font-size: 100px;*/
}

.right {
	border-right: 8px solid #EDEDED;
}

.bottom {
	border-bottom: 8px solid #EDEDED;
}

#scoreboard {
/*	border: 5px solid black;*/
	float: right;
	position: relative;
	bottom: 275px;
	right: 150px;
	text-align: center;
}

.player {
	float: left;
	margin: -20px 15px 0 15px; 
	height: 150px;
	padding-right: 15px;
}
