body {
	background-color: #3b653d;
	font-family: 'Covered By Your Grace', cursive;
	color: #EDEDED;
}

#gameboard {
	padding: 10px;
	width: auto;
	float: left;
	border: 5px solid black;
}

.row {
	clear: both;
	width: auto;
}

.cell {
	float: left;
	height: 150px;
	width: 150px;
	font-size: 100px;
}

.right {
	border-right: 8px solid #EDEDED;
}

.bottom {
	border-bottom: 8px solid #EDEDED;
}

#scoreboard {
	float: left;
}